obj/Debug/net6.0/project.razor.vscode.bin
obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
obj/Debug/net6.0/WebApplication2.AssemblyInfoInputs.cache
obj/Debug/net6.0/WebApplication2.assets.cache
obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cache
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.vscode.bin
obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
obj/Debug/net6.0/WebApplication2.AssemblyInfoInputs.cache
obj/Debug/net6.0/WebApplication2.assets.cache
obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cache
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.vscode.bin
obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
obj/Debug/net6.0/WebApplication2.AssemblyInfoInputs.cache
obj/Debug/net6.0/WebApplication2.assets.cache
obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cache
obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cs
