
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User/Home!</h1>
    <h2>Welcome, @ViewData["UserName"]!</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Ceqweqweeee123eore</a>.</p>
</div>
<div id="partialContent">
    <!-- This is where the partial view content will be loaded -->
</div>

<button id="updateButton">Say hello!</button>
<h4>your id is: @ViewData["UserId"]</h4>

<script>
    $(document).ready(function() {
        $('#updateButton').click(function() {
            var userId = @ViewData["UserId"];

            // Construct the URL with the UserId as a query parameter
            var url = '@Url.Action("FavoriteSlots", "User")' + '?userId=' + userId;

            // Make the AJAX GET request
            $.ajax({
                url: url,
                type: 'GET',
                success: function(result) {
                console.log("AJAX Success. Result:", result);
                    // Update the HTML content with the returned result
                    $('#partialContent').html(result);
                },
                error: function() {
                    // Handle error
                    alert('An error occurred while loading the content.');
                }
            });
        });
    });
</script>