@model WebApplication2.Models.LoginModel

@{
    ViewData["Title"] = "Host";
}
<div class="text-center">
    <h1 class="display-4">Welcome! <b>@ViewData["Title"]</b></h1>
</div>
<a href="">Create new tree</a>
<a href=""></a>
<h3>Hosted Slots:</h3>
<table>
    <thead>
        <ul></ul>
    </thead>
    <tbody>
        <ul></ul>
    </tbody>
</table>